annotated-types
anyio
certifi
click
cramjam
dadata
dnspython
email-validator
fastapi
fastparquet
fsspec
geographiclib
geopy
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
orjson
packaging
pandas
pyarrow
pydantic
pytz
PyYAML
scikit-learn
scipy
tzdata
ujson
uvicorn
uvloop
watchfiles
websockets
xgboost


