annotated-types
anyio
certifi
click
cramjam
dadata
dnspython
email-validator
fastapi
fastparquet
fsspec
geographiclib
geopy
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2=
joblib
MarkupSafe
numpy
orjson
packaging
pandas
pyarrow
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
ujson
uvicorn
uvloop
watchfiles
websockets
xgboost


